.Guarantees {
  background: #2E2E2E;
  color: white;

  .wrap {
    padding: 3rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .card {
    text-align: center;
    h5 {
      margin: 1rem 0;
      font-size: 1rem !important;
    }
  }

}